In [1]:
#00. Read the data from the url
import pandas as pd

url = "https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv"
df = pd.read_csv(url, encoding = "latin-1")

# View the first few rows of the DataFrame
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [3]:
#checking data types
df.dtypes

Area Code         int64
Area             object
Item Code         int64
Item             object
Element Code      int64
Element          object
Unit             object
Y2014           float64
Y2015           float64
Y2016           float64
Y2017           float64
Y2018           float64
dtype: object

In [7]:
# Q1 Which year had the least correlation with ‘Element Code’?

#Remove the non-numeric columns
columns_to_remove = ['Area', 'Item', 'Element', 'Unit','Area Code','Item Code']
df_numeric = df.drop(columns=columns_to_remove)

# Calculate the correlation matrix
corr_matrix = df_numeric.corr()
print(corr_matrix)

              Element Code     Y2014     Y2015     Y2016     Y2017     Y2018
Element Code      1.000000  0.024457  0.023889  0.023444  0.024254  0.024279
Y2014             0.024457  1.000000  0.994647  0.996081  0.995230  0.994872
Y2015             0.023889  0.994647  1.000000  0.995739  0.988048  0.988208
Y2016             0.023444  0.996081  0.995739  1.000000  0.992785  0.992757
Y2017             0.024254  0.995230  0.988048  0.992785  1.000000  0.998103
Y2018             0.024279  0.994872  0.988208  0.992757  0.998103  1.000000

In [8]:
# Extract the correlation coefficients with 'Element Code'
corr_with_element_code = corr_matrix['Element Code']

# Find the year with the lowest correlation
year_with_least_corr = corr_with_element_code.idxmin()

# Print the year
print(year_with_least_corr)

Y2016

In [9]:
#Q2: What would be the output for?
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [99]:
#Q3: Given the following numpy array
import numpy as np

array  = ([[94, 89, 63], [93, 92, 48], [92, 94, 56]])
array = np.array(array)
array[ : 2, 1 : ]

array([[89, 63],
       [92, 48]])

In [25]:
#Q5: Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?
#Selecting needed columns
df1 = df[['Element','Y2014','Y2015','Y2016','Y2017','Y2018']]

In [30]:
# Group the data by 'Element'
grouped_df = df1.groupby('Element').sum()

# Filter the group to only include 'Stock Variation'
stock_variation_group = grouped_df.loc["Stock Variation"]

# Find the column with the highest value
highest_column = stock_variation_group.idxmax()

#print
print(highest_column)

Y2014

In [34]:
#Q6: create a pandas dataframe
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age', 'Nationality', 'Overall']
pd.DataFrame(lst, columns = col, index = [1,2,3]) #in the question, there is Dataframe which doesn't exist

   Age Nationality  Overall
0   35    Portugal       94
1   33   Argentina       93
2   30      Brazil       92

In [44]:
#Q7: Area with the highest sum in 2017
df7 = df[['Area','Y2017']]
grouped_df7 = df7.groupby('Area',as_index=False).sum()
grouped_df7.loc[grouped_df7['Y2017'].idxmax()]['Area']

'Nigeria'

In [ ]:
#Q8: not applicable

In [47]:
#Q9: the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places
mean = df['Y2017'].mean()
std_dev = df['Y2017'].std()
print(mean, "and", std_dev)

140.9177648602722 and 1671.8623590567995

In [48]:
#Q10: Given the following python code, what would the output of the code give?

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [49]:
#Q11: not applicable

In [57]:
#Q12: Consider the following list of tuples: assign element 8 from the list to a variable x

y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
x

8

In [60]:
#Q13: Which of these Areas had the 7th lowest sum in 2017
df13 = df[['Area','Y2017']]
grouped_df13 = df13.groupby('Area',as_index=False).sum()

#Sorting from lowest
grouped_df13_sorted = grouped_df13.sort_values(by='Y2017', ascending=True)

#Filtering the 7th area
grouped_df13_sorted.iloc[6]['Area']

'Guinea-Bissau'

In [68]:
#Q14: not applicable

In [78]:
#Q15: the total Protein supply quantity in Madagascar in 2015?
df15 = df[['Element','Area','Y2015']]
grouped_df15 = df15.groupby(['Element','Area'],as_index=False).sum()
df15_filtered = grouped_df15[(grouped_df15['Area'] == 'Madagascar') & (grouped_df15['Element'].str.contains("Protein supply quantity"))]
df15_filtered['Y2015']

591    173.05
Name: Y2015, dtype: float64

In [81]:
#Q16: not applicable

(60943, 3)

In [87]:
#Q17: total number and percentage of missing data in 2014 to 3 decimal places

print(df['Y2014'].isna().sum(), "and", "{:.3f}%".format((df['Y2014'].isna().sum() / len(df['Y2014'])) * 100))

1589 and 2.607%

In [88]:
#Q18: total number of unique countries in the dataset
len(df['Area'].unique())

49

In [90]:
#Q19: total number of the sum of Processing in 2017
df[df['Element'] == 'Processing']['Y2017'].sum()

292836.0

In [95]:
#Q19: Wine produced in 2015 and 2018 respectively
df20 = df[['Item','Y2015','Y2018']]
df20 = df20[df20["Item"] == 'Wine']
grouped_df20 = df20.groupby('Item',as_index=False).sum()
grouped_df20

   Item    Y2015    Y2018
0  Wine  4251.81  4039.32